<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" routerLink = '/'>Home</a></li>
            <li class="nav-item"><a class="nav-link active" routerLink = '/about'>About</a></li>
            <li class="nav-item"><a class="nav-link active" routerLink = '/register'>Register</a></li>
            <li class="nav-item"><a class="nav-link active" routerLink = '/studentDetail'>Students</a></li>
            <li class="nav-item"><a class="nav-link active" routerLink = '/login'>login</a></li>      
        </ul>
    </nav>
<div class="container is-widescreen"></div>
<router-outlet></router-outlet>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        footer Demo text
      </p>
    </div>
  </footer>